[Desktop Entry]
Version=1.0
Type=Application
Name=EZ Maint Tool
Comment=ezmaint tool
Categories=System;
Keywords=System;
Exec=pkexec /usr/local/bin/ezmaint
Icon=/usr/share/icons/default/lava-lamp.png
Path=/usr/local/bin
Terminal=true
StartupNotify=false
Name=ezmaint
